---
import MainHead from '../components/MainHead.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Jeanine White" description="About Jeanine White Lorem Ipsum" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<h1>Sobre mi</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.bike24.net/media/1440/i/mb/1c/07/0b/header-1-2880x920-k2-skates-campaign-brand-product-22-05-bike24-1246583.jpg"
				/>
			</div>
			<div class="bio wrapper">
				
			</div>
		</div>
	</body>
</html>
