---
import MainHead from "../components/MainHead.astro";
---

<html lang="en">
  <head>
    <MainHead
      title="About | Jeanine White"
      description="About Jeanine White Lorem Ipsum"
    />
    <style>
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;
      }

      .heroImg img {
        width: 100%;
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
        margin-top: 4em;
      }

      .wrapper.bio {
        max-width: 50em;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <h1>Sobre mi</h1>
      <div class="heroImg">
        <img
          width="1400"
          height="350"
          src="https://images.bike24.net/media/1440/i/mb/1c/07/0b/header-1-2880x920-k2-skates-campaign-brand-product-22-05-bike24-1246583.jpg"
        />
      </div>
      <div class="bio wrapper">
        <p></p>
        <p></p>
        <p>
          Lorem fistrum diodenoo mamaar amatomaa no te digo trigo por no
          llamarte Rodrigor. A peich quietooor te voy a borrar el cerito ahorarr
          hasta luego Lucas jarl condemor apetecan pupita fistro diodeno.
        </p>
        <p>
          Quietooor a peich pecador fistro la caidita llevame al sircoo diodeno
          la caidita ese hombree qué dise usteer ese que llega. Amatomaa diodeno
          ese pedazo de apetecan qué dise usteer llevame al sircoo. Me cago en
          tus muelas quietooor hasta luego Lucas torpedo te va a hasé pupitaa me
          cago en tus muelas. Ese hombree pupita fistro hasta luego Lucas tiene
          musho peligro a wan me cago en tus muelas pupita.
        </p>
        <p>
          Amatomaa no puedor ahorarr mamaar condemor te voy a borrar el cerito
          caballo blanco caballo negroorl se calle ustée. Al ataquerl te voy a
          borrar el cerito no te digo trigo por no llamarte Rodrigor pupita
          diodeno ahorarr ese hombree tiene musho peligro va usté muy cargadoo
          te voy a borrar el cerito.
        </p>
      </div>
    </div>
  </body>
</html>
